@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

h3 {
  padding: 12px;
  font-weight: 700;
}

.app {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.app-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  background-color: #bb1333;
}

.app-menu #logout-button {
  align-self: center;
  margin: 0 6px;
  
}

.friend-deck {
  display: flex;
  justify-content: space-around;
}



#friend-card {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  margin: 3px 6px;
  padding: 6px 6px;  
}

#friend-card .card-title  {
  font-size: 24px;
}

.row-count-header {
  width: 10%;
}


.name-field {
  width: 175px;
  max-width: 175px;
}

.age-field {
  width: 50px;
  max-width: 50px;
}

.email-field {
  width: 300px;
  max-width: 300px;
}

.edit-field {
  width: inherit;
}

.name-header {
  width: 30%;
}

.age-header {
  width: 10%;
}

.email-header {
  width: 45%;
}

#edit-friend-box {
  width: inherit;
}

.spinner {
  border: 16px solid #272727; 
  border-top: 16px solid #bb1333; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 99;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.add-friend-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 12px;
}

/* #add-friend-button {
  background-color: #bb1333;
} */

.add-friend-form-container {
  margin: 0 auto;
  width: 80%;
  display: block;
  
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
